@media (max-width: 900px) {
    #rec-engine-cards {
        grid-template-columns: var( --rec-engine-card-grid-template-column-900);
    }
}

@media (max-width: 600px) {
    #rec-engine-cards {
        grid-template-columns: var(--rec-engine-card-grid-template-column-600);
    }
}