.theme-toggle-btn {
  padding: var(--spacing-sm) var(--spacing-sm);
  border-radius: var(--spacing-sm);
  border: var(--border-style-none);
  background: var(--bg-color);
  color: var(--text-color);
  cursor: pointer;
  width: var(--size-xl);
  height: var(--size-xl);

  /* Soft shadow for depth */
  box-shadow: var(--shadow-sm-light-dark-mode);

  /* Transitions */
  transition: 
    opacity var(--transition-medium-fast) var(--ease), 
    transform var(--transition-fast) var(--ease), 
    box-shadow var(--transition-medium-fast) var(--ease);
}

/* Button press feedback */
.theme-toggle-btn:active {
  transform: scale(var(--scale-x-small));
  box-shadow: var(--shadow-xs-light-dark-mode-press-feedback);
}

/* Hover effect */
.theme-toggle-btn:hover {
  transform: scale(var(--scale-small-large)); /* slightly bigger */
  box-shadow: var(--shadow-md-light-dark-mode); /* stronger shadow */
}
