.card {
    background-color: var(--card-bg);
    border-radius: var(--card-radius);
    box-shadow: var( --card-shadow) ;
    overflow: var(--card-overflow);
    display: var( --card-display);
    flex-direction: var(--card-flex-direction);
    transition: var( --card-transition);
}

.card img {
    width: var( --card-img-width);
    height: var(--card-img-height);
    object-fit: var(--card-img-object-fit);
}

.card h2 {
    font-size: var(--card-title-font-size);
    margin: var(--card-title-margin);
}

.card p {
    font-size: var(--card-text-font-size);
    margin: var( --card-text-margin);
}

.card .tag {
    margin: var(--card-tag-margin);
    font-size: var(--card-tag-font-size);
    color: var(--card-tag-color);
}

.card {
    cursor: var( --card-cursor);
}

.card:hover {
    transform: var(--card-hover-transform);
}