#home-articles {
    display: var( --home-articles-display);
    grid-template-columns: var(--home-articles-columns);
    gap: var( --home-articles-gap);
    padding: var(--home-articles-padding);
}


