/* Load More Button */
#load-more {
    background: var( --load-more-bg);
    color: var(--load-more-color);
    border: var( --load-more-border);
    padding: var(--load-more-padding);
    font-size: var(--load-more-font-size);
    border-radius: var( --load-more-radius);
    cursor: var(--load-more-cursor);
    transition: var(--load-more-transition);
}

#load-more:hover {
    transform: var(--load-more-hover-transform);
    box-shadow: var(--load-more-hover-shadow);
}
