
/* Responsive */
@media (max-width: 1200px) {
    #home-articles { grid-template-columns: repeat(3, 1fr); }
}
@media (max-width: 900px) {
    #home-articles { grid-template-columns: repeat(2, 1fr); }
}
@media (max-width: 600px) {
    #home-articles { grid-template-columns: 1fr; }
}
