
/* Responsive */
@media (max-width: 1200px) {
    #home-articles { grid-template-columns: var(--home-articles-grid-1200); }
}
@media (max-width: 900px) {
    #home-articles { grid-template-columns: var( --home-articles-grid-900); }
}
@media (max-width: 640px) {
    #home-articles { grid-template-columns: var( --home-articles-grid-640); }
}
