nav {
    display: flex;
    gap: var(--gap-9);
  }

  nav a {
    text-decoration: none;
    color: var(--nav-txt);
    font-weight: var(--font-weight-medium);
    transition: color var(--transition-medium-fast);
  }

  nav a:hover {
    color: var(--nav-hover-txt); /* subtle accent color */
  }
