:root {
  /* Flex Directions */
  --flex-row: row;
  --flex-column: column;
  --flex-warp: wrap;

  /* Justify Content */
  --jc-start: flex-start;
  --jc-center: center;
  --jc-end: flex-end;
  --jc-between: space-between;
  --jc-around: space-around;
  --jc-evenly: space-evenly;

  /* Align Items */
  --ai-start: flex-start;
  --ai-center: center;
  --ai-end: flex-end;
  --ai-stretch: stretch;
  --ai-baseline: baseline;

  /* Text Align */
  --text-left: left;
  --text-center: center;
  --text-right: right;
  --text-justify: justify;


  /*-----------------*/

  /*-----menu------*/

    --home-cards-section-justify: center;
    --home-cards-wrapper-columns: repeat(auto-fill, minmax(260px, 1fr));
    --home-card-display: flex;
    --home-card-direction: column;
    --home-card-img-fit: cover;
     --home-hero-reasons-wrapper-display: flex;
     --home-hero-reasons-wrapper-wrap: wrap;

}