:root {
    /*=========home-article-card===========*/

     --home-articles-columns: repeat(auto-fill, minmax(250px, 1fr));


     /*=====recommendation-card====*/

     --rec-grid-columns: repeat(3, 1fr);
}