:root {
  /* Extra–Extra Small to Extra–Extra Large Spacing Scale */
  --size-xxxs: 0.25rem;   /* 4px  */
  --size-xxs: 0.5rem;     /* 8px  */
  --size-xs: 0.75rem;     /* 12px */
  --size-sm: 1rem;        /* 16px */
  --size-md: 1.5rem;      /* 24px */
  --size-lg: 2rem;        /* 32px */
  --size-xl: 3rem;        /* 48px */
  --size-xxl: 4rem;       /* 64px */
  --size-xxxl: 6rem;      /* 96px */
  --size-4xl: 8rem;       /* 128px */
  --size-5xl: 12rem;      /* 192px */
}
