:root {
    --gap-0: 0px;
    --gap-1: 2px;
    --gap-2: 4px;
    --gap-3: 6px;
    --gap-4: 8px;
    --gap-5: 12px;
    --gap-6: 16px;
    --gap-7: 20px;
    --gap-8: 24px;
    --gap-9: 32px;
    --gap-10: 40px;
    --gap-11: 48px;
    --gap-12: 64px;
}
