:root {
    --gap-0: 0rem;       /* 0px / 16 = 0 */
    --gap-1: 0.125rem;   /* 2px / 16 = 0.125 */
    --gap-2: 0.25rem;    /* 4px / 16 = 0.25 */
    --gap-3: 0.375rem;   /* 6px / 16 = 0.375 */
    --gap-4: 0.5rem;     /* 8px / 16 = 0.5 */
    --gap-5: 0.75rem;    /* 12px / 16 = 0.75 */
    --gap-6: 1rem;       /* 16px / 16 = 1 */
    --gap-7: 1.25rem;    /* 20px / 16 = 1.25 */
    --gap-8: 1.5rem;     /* 24px / 16 = 1.5 */
    --gap-9: 2rem;       /* 32px / 16 = 2 */
    --gap-10: 2.5rem;    /* 40px / 16 = 2.5 */
    --gap-11: 3rem;      /* 48px / 16 = 3 */
    --gap-12: 4rem;      /* 64px / 16 = 4 */



    /*===========================*/


    /*-----menu--------*/


    --home-cards-wrapper-gap: 24px;
    --home-hero-reasons-wrapper-gap: 40px;
    --home-hero-reasons-list-gap: 16px;
    --article-card-gap: 22px;
    --responsive-640-header-gap: 12px;



    /*------footer-------*/

    --footer-container-gap: 22px;
    --footer-links-gap: 24px;

}
