:root {
    --padding-0: 0px;
    --padding-1: 2px;
    --padding-2: 4px;
    --padding-3: 6px;
    --padding-4: 8px;
    --padding-5: 12px;
    --padding-6: 16px;
    --padding-7: 20px;
    --padding-8: 24px;
    --padding-9: 32px;
    --padding-10: 40px;
    --padding-11: 48px;
    --padding-12: 64px;
}
