:root {
    --padding-0: 0rem;       /* 0px / 16 = 0 */
    --padding-1: 0.125rem;   /* 2px / 16 = 0.125 */
    --padding-2: 0.25rem;    /* 4px / 16 = 0.25 */
    --padding-3: 0.375rem;   /* 6px / 16 = 0.375 */
    --padding-4: 0.5rem;     /* 8px / 16 = 0.5 */
    --padding-5: 0.75rem;    /* 12px / 16 = 0.75 */
    --padding-6: 1rem;       /* 16px / 16 = 1 */
    --padding-7: 1.25rem;    /* 20px / 16 = 1.25 */
    --padding-8: 1.5rem;     /* 24px / 16 = 1.5 */
    --padding-9: 2rem;       /* 32px / 16 = 2 */
    --padding-10: 2.5rem;    /* 40px / 16 = 2.5 */
    --padding-11: 3rem;      /* 48px / 16 = 3 */
    --padding-12: 4rem;      /* 64px / 16 = 4 */





    /*--------------------------*/


    /*-------menu-------------*/

        --home-cards-section-padding: 40px 20px; 
        --home-card-padding: 16px;
        --home-hero-reasons-section-padding: 60px 20px;
        --home-hero-reasons-btn-padding: 14px 28px;
        --home-hero-reasons-card-padding: 24px;
        --home-hero-reason-item-padding: 16px;
        --article-card-padding: 24px;


    /*------footer-------*/


     --footer-site-padding: 40px 20px;


     /*======input-bar=====*/

    --input-padding-vertical: 8px;        
    --input-padding-horizontal: 16px;


    /*=====home-article-card====*/

    --home-articles-padding: 20px;

    /*====load-more-button======*/

    --load-more-padding: 12px 24px;

}
