:root {
  /* -------------------------
     Spacing Scale
     Use multiples for consistency (base = 8px)
  ------------------------- */
  --spacing-xxs: 4px;    /* 0.5x */
  --spacing-xs: 8px;     /* 1x */
  --spacing-sm: 12px;    /* 1.5x */
  --spacing-md: 16px;    /* 2x */
  --spacing-lg: 24px;    /* 3x */
  --spacing-xl: 32px;    /* 4x */
  --spacing-2xl: 48px;   /* 6x */
  --spacing-3xl: 64px;   /* 8x */
  --spacing-4xl: 96px;   /* 12x */

 /*----------------------------------
   custom spacing 
   -------------------------------------*/

   --spacing-top-navbar: 60px;
   --spacing-right-navbar: 20px;
}
