@media (max-width: 980px) {
    .hero {
        grid-template-columns: var(--responsive-980-hero-columns);
    }

    .grid {
        grid-template-columns: var(--responsive-980-grid-columns);
    }
}

@media (max-width: 640px) {
    .grid {
        grid-template-columns: var(--responsive-640-grid-columns);
    }

    header {
        gap: var( --responsive-640-header-gap);
    }

    .logo {
        font-size: var(--responsive-640-logo-size);
    }

    .hero-left h1 {
        font-size: var(--responsive-640-hero-left-title-size);
    }
}
